
/* =========GENERAL STYLES================= */

$primaryColor:goldenrod;
$secondaryColor:#c09016;

@mixin centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.html {
    font-size: 16px; 
    color:$primaryColor;;
    scroll-behavior: smooth;
  }
  
body{
  
  margin: 0;
  padding: 0px 50px;
  box-sizing: border-box;
  font-family: 'Poppins';
  background-color: #f2f2f2;
  overflow-x: hidden;
    
}


h1,h2,h3,h4{
  color:#333;
}


h1{
  text-align: center;
  &::before{
    content: "|";
    padding-right: 5px;
    color: $primaryColor;
   
  }
}

h4{
  text-transform: uppercase;
  color:$primaryColor;
}

li{
  list-style-type: none;

}

img:hover{
  opacity: 0.8;
  
}

a{
  text-decoration: none;
  color:gray;
  &:hover{
    color:$primaryColor;
  }
}

.center-p{
  text-align: center;
}

/* ------buttons--------- */

.button-primary{
  text-transform: uppercase;
    background-color: $primaryColor;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
  }

  .button-primary:hover, .button-third:hover{
    background-color: $secondaryColor;
    transform: scale(1.1);
   transition-duration:0.2s;
   transition-timing-function: ease-in-out;
  }

  .button-primary a,.button-third a{
    color:white;
  }
  
  
  .button-secondary{
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid $primaryColor;
    border-radius: 5px;
    padding: 12px 20px;
    &:hover{
      background-color: #d5d5d5;
      transform: scale(1.1);
     transition-duration:0.2s;
     transition-timing-function: ease-in-out;
    }
    a{
      color:$primaryColor;
    }
 
  }


  .button-third{
    text-transform: uppercase;
    background-color: $primaryColor;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
  }
  
  .btn-center{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  
/* -----theme toogle dark light------ */
.btn-toogle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 25px;
  background: gray;
  display: block;
  border-radius: 100px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 15px;
    border-radius: 90px;
    transition: 0.3s;
    background: rgb(255, 255, 255);
  }
 
}


.btn-toogle input:checked+label {
  background: $primaryColor;
  transition: 0.5s;
  &:after {
    transition: 0.5s;
    top: 5px;
    left: 5px;
    transform: translateX(100%);
    background-color: aliceblue;
  }
}



.btn-toogle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}


.dark {
  color: #f2f2f2 !important;
  background: #242424;
 
}


/* ----------hero animation-----*/

@keyframes moving {
  0%   {top: 0px; left: 0px;}
  66%  {top: 70px; left: 50px;}
  100% {top: 0px; left: 0px;}
}


/* =========HEADER================= */
.header-wrapper{
  position: relative;
  padding-bottom: 30px;

}

.navigation {
  display: flex;
  justify-content: space-between;
  position: relative;
  animation: moving 2s ;
}

.nav-social{
  display: none;
  i{
    margin-top: 20px;
    margin-right: 50px;
    font-size: 20px;
    color: $primaryColor;
    
  }
  
}


.top-nav{
  background-color: #cecece;
  padding: 5px 0px;
  display: none;
  justify-content: space-around;
  li{
    display: grid;
    place-items: center;
    color:#777777;
    font-size: 14px;
    i{
      margin-right: 10px;
      color:#777777;
    }
    
  }
}
 

.logo{
  width: 100px;
  height: 80px;
}

.desktop-nav{
  display: none;
  i{
    color: $primaryColor;
    margin: 0px 10px;
  }
}



.mobile-navigation i{
  color: $primaryColor;
  font-size: 20px;
  margin: 20px;
}
.top-info h1{
  text-align: left;
}

.top-info p{
  width: 70%;
}



/* -----MODAL-------- */
#myBtn{
  color: white;
  cursor: pointer;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  background-color: #e0dcdc;
  margin: auto;
  padding: 0;
  width: 40%;
  height: 50%;
  border-radius: 10px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: $primaryColor;
  float: right;
  font-size: 28px;
  font-weight: bold;
  &:hover,
  &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}



.modal-header {
  border-radius: 5px;
  padding: 2px 16px;
  background-color: #c8c6c6;
  
}

.modal-body {
  display: block;
  padding: 0px 16px;
  div{
    margin: 20px;
  }
  input{
    font-family: 'Poppins';
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    &:focus{
      border: none;
    }
    
  }
}


.modal-footer {
  border-radius: 5px;
  padding: 2px 16px;
  background-color: #e0dcdc;
  font-size: 14px;
  text-transform: none;
}



/* -----MEGA MENU-------- */


.dropdown {
  overflow: hidden;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 80%;
  left: 10%;
  z-index: 1;

}


.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown-column {
  width: 33.33%;
  padding: 10px;
  padding-left: 50px;
  background-color: rgb(223, 222, 222);
  height: 250px;
  a {
    float: none;
    color: #333;
    padding: 16px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    &:hover {
      background-color:#f2f2f2;
    }
    
  }
}

.dropdown-row {
  display: flex;
  
}

/* ----------------HERO SLIDER------------ */

.top-img{
  margin-top: 20px;
  width: 80%;
}
.slider {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: relative;
  overflow: hidden; 
  border-radius: 15px;
}

.slide {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

 

.btn-slider {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: $primaryColor;
  font-size: 18px;
  &:active {
    transform: scale(1.1);
  }
  i{
    color: #f2f2f2;
  }
}

 
.btn-prev {
  top: 45%;
  left: 2%;

}

.btn-next {
  top: 45%;
  right: 2%;
}


/* --------mobile navigation-------- */

.topnav {
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  #mobile-menu {
    display: none;
  }
  a {
    color: white;
    padding: 20px 56px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  i {
    font-size: 20px;
    color: $primaryColor;
    display: block;
    position: absolute;
    padding: 20px;
    right: 0;
    top: 0;
  }
  
}


#mobile-menu{
  background-image: linear-gradient(to bottom right,rgb(218, 176, 71), rgb(164, 118, 0));
  margin-top: 30px;
  border-radius: 10px;
  text-align: center;
}

/* ----------MEDIA QUERIES------- */

@media screen and (min-width:500px){
  

  .top-img{
    width: 100%;
  }

  
}

@media screen and (min-width:850px){

  .topnav{
    display: none;
  }

  .top-nav{
    display: flex;
  }
  .top-main{
    display: flex;
    justify-content: space-between;
    margin: 70px;
    position: relative;
    animation: moving 3s 
  }
  .desktop-nav{
    display:flex;
    margin-top: 20px;
    li{
      margin-right: 40px;
    }

  }

}
@media screen and (max-width:1000px){
  .top-info p{
    display: none;
    
  }
}

@media screen and (min-width:1200px){
  .nav-social{
    display:flex;
  }
}


/* <!-- ==========LIMITED TIME OFFER============== --> */
.limited-wrapper{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  
}

.limited{
  border:1px solid rgb(193, 190, 190);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  animation: scalediv 1s ease-in-out infinite alternate;
  -webkit-animation: scalediv 1s ease-in-out infinite alternate;
}
.demo {
  text-transform: uppercase;
  color: $primaryColor;
  font-size: 12px;
}

@keyframes scalediv {
  0% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      
  }
  100% {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      border: 1px solid $primaryColor;
      
  }
}


.limited-items{
  display: flex;
  margin-top: 50px;
}

.limited-img img{
  width: 30vw;
  height: 20vh;
}

.price-old{
  text-decoration: line-through;
  font-size: 13px;
  color:gray;
}

/* ---------media queries limited offer section------ */

@media screen and (min-width:900px){

  .limited-img{
    display: flex;
    justify-content: space-around;
    img{
      max-width: 60%;
      height: 60%;
      position: relative;
      left: 50%;
    }
  }
 .limited-wrapper{
   margin: 0px 200px;
 }

 .l-img{
  width: 50%;
  }

 
 .limited{
   margin-top: 80px;
   max-width: 500px;
   font-size: 25px;
   
 }
}
/* <!-- ==========SERVICES============== --> */

.services-wrapper{
  margin-top: 80px;
  h1{
    text-align: center;
  }
}


.service{
  margin: 40px;
  padding: 20px ;
  border: 1px solid $primaryColor;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  color: #333;
  &:hover{
    background-color: $primaryColor;
    color:white ;
    cursor: pointer;
    transform: scale(1.1);
    transition-duration:0.2s;
    transition-timing-function: ease-in-out;
  }
  i{
    font-size: 25px;
  }
  h5{
    text-transform: uppercase;
    
  }

}

@media screen and (min-width:900px){

  .services{
    display: flex;
    justify-content: space-between;
  }

  .service{
    margin-right: 20px;
    padding: 20px;
  }

 
}



/* <!-- ==========POPULAR ITEMS SECTION============== --> */
.popular-items-wrapper button{
  margin-top: 30px;

}

.popular-items-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}



.popular-items{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  img{
    width: 70%;
    height: 50%;
  }
}


.popular h4{
  text-transform: uppercase;
}

.popular-price a{
background-color: $primaryColor;
padding: 10px;
color: white;
border-radius: 5px;
&:hover{
  background-color: $secondaryColor;
}
}


@media screen and (min-width:900px){
  
  .btn-center{
    display: none;
  }

  .popular-items{
    padding: 0px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}




/* <!-- ==========ABOUT SECTION============== --> */


.about-wrapper img{
  border-radius: 10px;
  max-width: 500px;
  width: 70vw;
  height: 35vh;
  margin: 30px 0px;
  
}


#Awards,#Team,#Partners{
  display: none;
}


.tab {
  display: flex;
  border-radius: 5px;
  background-color: #f1f1f1;
  width: 40%;
  margin-top: 70px;
  button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 0px 20px;
    width: 60%;
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid $primaryColor;
    &:hover{
      background-color: #e4e4e4;
    }
    
  }
  
}

.btn:active{
  background-color: #d5d5d5;
}


.tabcontent {
  padding: 0px 52px;
  border-radius: 5px;
  width: 70%;
  border-left: none;
  
}

@media screen and (min-width:900px){
  .about-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
  }
  .tab{
    display: block;
  }
  .tab button {
    padding: 20px 26px; 
    
  }
}


/* <!-- ==========DELIVERY SECTION============== --> */

.delivery-img img{
  max-width: 600px;
  max-height: 500px;
  width: 100%;
  height: 100%;
}

@media screen and (min-width:900px){
  .delivery{
    display: flex;
    justify-content: space-between;
  }

 .delivery-info{
  margin-left: 100px;
  margin-top: 80px;
 }
  .delivery p{
    width: 70%;
  }

  .delivery-wrapper{
    margin: 0px 200px;
  }
}


/* <!-- ==========MENU SECTION============== --> */
#myBtnContainer button{
  color: #f2f2f2;
  margin-bottom: 20px;
}

.filter-buttons{
  display: flex;
  justify-content: center;
}
.filter-container {
  margin-top: 50px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}


.filterDiv {
  text-align: center;
  margin: 2px;
  display: none; 
}


.show {
  display: block;
}


.menu-wrapper{
  margin: 100px 0px;

}
.menu-filter{
  width: 150px;
  height: 250px;
  img{
    width: 70%;
    height: 50%;
  }
}


.filter-container:nth-child(5),.filter-container:nth-child(6),
.filter-container:nth-child(7),.filter-container:nth-child(8){
  display: none;
}


@media screen and (min-width:900px){
  
  .filter-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 150px;
  }

}
@media screen and (min-width:1100px){
  
  .filter-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0px 150px;
  }
}


/* <!-- ==========TESTIMONAILS SECTIONS============== --> */

.testimonial-info{
  display: flex;
  img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
}

.testimonials{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}
.testimonial p{
  margin-left: 10px;
  font-size: 14px;
  width: 80%;
  color: gray;
}

.testimonial i{
  font-size: 20px;
  color:$primaryColor;
  margin-right: 10px;
}



@media screen and (min-width:900px){
  .testimonials{
    display: flex;
    justify-content: space-between;
 
  }

}

@media screen and (min-width:1200px){
  .testimonial p{
    font-size: 16px;
   
  }

}


/* <!-- ==========BANNER SECTION============== --> */


.banner-wrapper img{
  width: 100%;
  padding:0 !important;

}

.banner-img{
  background-image: url(../img/banner.jpg);
  background-size: cover;
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  margin-top: 50px;
}

.banner-text{
  font-size: 18px;
  color:white;
  position:absolute;
  z-index: 11;
  right: 50px;
  top: 100px;
}


/* <!-- ==========MOBILE APP SECTION============== --> */
.mobile-app-wrapper{
  margin-top: 100px;
}
.mobile-app{
  display: block;
}

.phones{
  display: flex;
  img{
    max-width: 600px;
    max-height: 500px;
    width: 80%;
    height: 100%;
  }
}


.mobile1{
  width: 70px;
  height: 30px;
}



@media screen and (min-width:900px){
  .mobile-app{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

}



/* <!-- ==========CONTACT SECTION ============== --> */

.contact-img{
  display: none;
}


.contact-wrapper{
  margin-top: 50px;
}
.contact-form input{
  padding:5px 10px;
  border: none;
  background-color: #d9d8d8;
  border-radius: 5px;
}

.contact-form textarea{
  width:300px; 
  height:100px;
}

.mapouter{ 
  display: none;
}

@media screen and (min-width:900px){
  .contact-wrapper{
    padding: 0px 200px;
  }

  .mapouter{
    display: flex;
    
  }

  iframe{
    width: 30vw;
    height: 400px;
  }

  .contact-flex{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
  }

  
}


/* =========FOOTER================= */

.footer-wrapper{
  margin-top: 50px;
}
.footer-social{
  display: flex;
  justify-content: space-around;
  i{
    color: $primaryColor;
  }
}

.footer-a p{
  font-size: 13px;
}

.links{
  display: flex;
  justify-content: space-between;
  
}

.footer-col>ul{
  margin: 0;
  padding: 0;
}

.page-footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}

.ending{
  text-align:center;
  padding: 20px;
  border-radius: 5px;
}

.copy img{
  width: 60px;
  height: 40px;
}

@media screen and (min-width:900px){
  
  .ending{
    padding: 50px;
    
  }
  .copy{
    display: flex;
    justify-content: space-around;
  }

  .links{
    display: flex;
    justify-content:space-around;
  }
}

@media screen and (min-width:1000px){
  .page-footer{
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
  }
  
}

/* ----back to top button----- */

#back-top {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 9999;
  border: none;
  outline: none;
  background-color: $primaryColor;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
  height: 60px;
  width: 60px;
  &:hover {
    background-color: $secondaryColor;
  }
}

